<div class="sidebar">
  <div class="sidebar__header">
    <span class="sidebar__logo">FinanceApp</span>
    <span class="sidebar__tagline">Управление финансами</span>
  </div>

  <mat-nav-list class="sidebar__list" role="navigation" aria-label="Основное меню">
    @for (item of navItems; track item.label) {
      @if (item.path !== null) {
        <a
          mat-list-item
          class="sidebar__item"
          [routerLink]="item.path"
          routerLinkActive="sidebar__item--active"
          [routerLinkActiveOptions]="{ exact: item.path === '/' }"
        >
          <div matListItemIcon class="sidebar__icon-wrap">
            @if (item.icon === 'notifications' && unreadCount() > 0) {
              <mat-icon
                [matBadge]="unreadCount()"
                matBadgeColor="warn"
                matBadgeSize="small"
                class="sidebar__icon"
              >{{ item.icon }}</mat-icon>
            } @else {
              <mat-icon class="sidebar__icon">{{ item.icon }}</mat-icon>
            }
          </div>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      } @else {
        <a mat-list-item class="sidebar__item" href="#" (click)="onStubClick($event)">
          <mat-icon matListItemIcon class="sidebar__icon">{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    }
  </mat-nav-list>

  <div class="sidebar__footer">
    <div class="sidebar__user">
      <div class="sidebar__user-avatar">{{ userInitials }}</div>
      <div class="sidebar__user-info">
        <span class="sidebar__user-name">{{ userName }}</span>
        <span class="sidebar__user-email">{{ userEmail }}</span>
      </div>
    </div>
    <button mat-stroked-button type="button" class="sidebar__logout" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Выйти
    </button>
  </div>
</div>
